<!DOCTYPE html>
<html>
  <head>
    <title>Thanks for your order!</title>
    <link rel="stylesheet" href="../public/payment.css" />
  </head>
  <body>
    <section>
      <p>
        Thanks for pooling with us!!! Have a great day at the college :⁠-⁠D
        <a href="mailto:UniDrive@pooling.com">UniCode@pooling.com</a>.
      </p>
    </section>
  </body>
</html>